body {
  font-family: "Merriweather-light";
  font-size: 1 rem;
}
.site-header {
  height: 50px;
  display: flex;
  position: fixed;
  width: 100%;
}
.site-header {
  border-bottom: 1px solid #c8c8c8;
  background-color: hsla(0, 0%, 100%, 0.85);
  z-index: 3;

  .main-navigation {
    display: flex;
    justify-content: flex-end;
  }
  .main-navigation a {
    text-transform: uppercase;
    font-family: Novecento Sans Web, sans-serif;
    font-size: 1rem;
    color: $color_green_brand;
  }

  .menu-main-navigation-content {
    display: flex;
    display: fixed;
  }
  .main-navigation li {
    padding-right: 40px;
  }

  .main-homepage-logo img {
    height: auto;
    max-width: 100%;
    position: relative;
    top: 10em;
    left: 36em;
    background: linear-gradient(0.2 0 0 0.8);
  }

  .tent-logo {
    width: 80px;
  }

  .masthead-tent-logo {
    padding-left: 80px;
    border-bottom: 0px;
  }

  #primary-menu .nav-menu {
    text-transform: capitalize;
  }
  .menu-main-navigation-content {
    width: 100%;
    justify-content: right;
  }

  h1.entry-title {
    display: hide;
  }

  #site-branding {
    display: none;
  }
  .site-description {
    display: none;
  }
  #site-navigation {
    text-align: right;
  }
  .search-field {
    display: none;
  }
}

.page-id-5 {
  .main-navigation a {
    color: white;
  }
  .tent-logo {
    display: none;
  }
}
