.search {
  .site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .site-content {
    flex-grow: 1;
    display: flex;
    padding-top: 50px;
    @extend .container;
  }

  .content-area {
    width: 70%;
  }

  .widget-area {
    width: 30%;
    margin: 40px;
  }
  .content-area {
    padding: 10px;
    border-right: 1px solid #c8c8c8;
  }
  h2 {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 2.4rem;
    border-bottom: 1px solid #c8c8c8;
  }

  a {
    text-decoration-line: none;
    color: $color_green_brand;
    &:hover {
      color: $color_purple_brand;
    }
  }
}

.blog,
.archive,
.page-id-9,
.single-post,
.archive-product,
.search,
.product-template-default,
.error404 {
  .search-submit {
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
    color: $color_green_brand;
  }
  .search-field {
    outline: none;
    border: none;
  }
}

.page-id-5,
.home {
  .search-submit {
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
    color: white;
  }
  .search-field {
    outline: none;
    border: none;
  }
}
