/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    background-image: repeat;
    background: url(../../images/dark-wood@2x.png);
    width: 100%;
    justify-content: space-between;
   

}
.biz-contact-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 55px;
}
h3 {
    color: #d99054;
}
p {
    color: white;
}
.biz-contact-container {
    display: flex;
}

.copyright-info {
    
    text-align: center;

}