.menu-main-navigation-content {
    display: flex;
    text-align: right;
    display: fixed;
}


.main-homepage-logo img {
        height: auto;
        max-width: 100%;
        position: relative;
        top: 50%;
        left: 34em;
    }

.tent-logo {
    width: 50px;
}

.masthead-tent-logo{
    padding-left: 80px;
    border-bottom: 0px;
}
.site-header {
    height: 50px;
    display: flex;
    position: fixed;
}


.menu-main-navigation-content {

    justify-content: right;
}

h1.entry-title {
    display: hide;
}

#site-branding {
    display: hide;
}

// #site-navigation {
//     display: none;
// }



