.main-homepage-logo {
    text-align: center;
    
}

.tent-logo {
    width: 50px;
}

.masthead-tent-logo{
    padding-left: 80px;
    border-bottom: 0px;
}
#masthead {
    height: 50px;
    display: flex;
}

.menu-main-navigation-content {
    display: flex;
}

#site-navigation {
    display: none;
}



