/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home h1 {

    color: $color_h2_fp;
    font-family: $font__main;
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 2px;
    font-weight: 400;

}
.landing-page-container{
    background-image: url(../../images/home-hero.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    

}
.main-navigation-content{
    justify-content: right;
}
.site-description {
    display: hide;
}

.main-homepage-banner {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    
}
.main-homepage-logo {
    text-align: center;
 

}
.fp-journal{
    display:block;

}
.fp-journal-title{
    text-align: center;
}
.fp-journal-list ul {

    list-style: none;
}
.fp-journal-list {
    display: flex;
    
}
.fp-journal-thumbnails {
    display: flex;

}
.fp-journal-list img {
    height: 15vw;
    width: 26vw;
}


/* Blog page */

.blog {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
.blog {
        .entry-header {
                        display: flex;
                        flex-direction: column;
                        width: 70%;
                        margin-left: 8em;

                    }
        h2 {
            text-transform: uppercase;
            background: #248A83,

        }
        .entry-title {
            display: flex;
            position: absolute;
            max-width: 75%;
            margin: 35px 0px 25px;
            padding: 12px 24px;
        }

        img {
            width: 70%;
       } 
    }// end of blog



.site-content {
    display: flex;

            .content-area {
                width: 75%;
            }
            .widget-area {
                width: 25%;
            }
            .widget-archives{
                display: none;
            }

}