// /*--------------------------------------------------------------
// # Page Templates
// --------------------------------------------------------------*/

// /* Front page */
.home {
        .fp-h2 {

            color: $color_purple_brand;
            font-family: $font__main;
            text-transform: uppercase;
            font-size: 2.2em;
            letter-spacing: 2px;
            font-weight: 400;

        }
        .landing-page-container{
            background-image: url(../../images/home-hero.jpg);
            height: 100vh;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            

        }

        .site-description {
            display: hide;
        }
        .wrap-container-home {
            padding-left: 60px;
            padding-right: 60px;
        }

        .main-homepage-logo {
            position: relative;
            
        }
        //journal posts display front page

        .fp-products{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
    
        }
        .fp-journal{
            display:block;
        

        }
        .fp-h2 {
            text-align: center;
        }
        .fp-journal-list {

            list-style: none;
        }
        .fp-journal-list {
            display: flex;
            
        }
        .fp-journal-thumbnails {
            display: flex;

        }
        .fp-journal-list img {
            height: 15vw;
            width: 26vw;
        }
    

        // Product display front page
      
        .product-terms {
            display:flex; 
            justify-content: space-around;
            text-align: center; 
            width: 100%;
            list-style: none;
            margin:auto;
           

        }
        .fp-products-return img{

            width: 70px;
        }
        .product-term p {
            color: $color__text-main;
        }
        .product-term {
            border: solid 1px $color_solid_border;
            border-top: solid 5px $color_solid_border;
            max-width: 300px;
            height: 350px;

        }
        .product-term a{
            background: $color_green_brand;
            text-decoration-line: none;
            text-transform: uppercase;
            padding: .4em;
            color: white;
        }
        // Adventure section

        .latest-adventure{
            h2{

                text-align: center;
            }
        }
        .latest-adventure{
            padding-bottom: 20px;
        }
        
        .adventure-title{
                    display: block;
                    text-align: center;
                    
                }
        .fp-adventure-h2{
                        color: $color_purple_brand;
                        font-family: $font__main;
                        text-transform: uppercase;
                        font-size: 2.2em;
                        letter-spacing: 2px;
                        font-weight: 400;
                    
                    }
    
       
        .adventure-ul {
            display: grid;
            list-style: none;
            padding: 0;
            margin:0;
            width: auto;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 200px 200px;
            grid-template-areas:
            "canoe canoe lake lake"
            "canoe canoe mountain sky";
              
        }
       
        .left-side-lake{
            grid-area: canoe;
            background-image: url(../../images/adventure-photos/canoe-girl.jpg);
            height: 420px;
            background-size: cover;
            
    
        }
		.beach{
            grid-area:lake;
            background-image: url(../../images/adventure-photos/beach-bonfire.jpg);
            background-size: cover;
            height:200px;
            background-position: center;
        }
		.mountain{
            grid-area: mountain;
            background-image: url(../../images/adventure-photos/mountain-hikers.jpg);
            background-size: cover;
            height:200px;
        }
		.sky{
            grid-area: sky;
            background-image: url(../../images/adventure-photos/night-sky.jpg);
            background-size: cover;
            height:200px;
        }
        

} // end of front page


// /* Blog page */

.blog {
            * {
                box-sizing: border-box;
                border: 1px dashed #eee;
            }
            
            .site {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }
            
            .site-content {
                flex-grow: 1;
                display: flex;
                padding-top: 50px;
            }
            
            .content-area {
                width: 70%;
            }
            
            .widget-area {
                width: 30%;
            }
      
    }
.blog {
        .entry-header {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-left: 8em;

                    }
        h2 {
            text-transform: uppercase;
            background: #248A83,

        }
        .entry-title {
            display: flex;
            position: absolute;
            max-width: 75%;
            margin: 35px 0px 25px;
            padding: 12px 24px;
        }

        img {
            width: 75%;
       } 
    }  

    // end of blog

    // shop page
    body .archive{
        p {
            color: $color__text-main;
        }
    }

    // single product page

    body, .product-template-default{
        p {
            color: $color__text-main;
        }

    }
    
    * {
        box-sizing: border-box;
        border: 1px dashed #eee;
      }


      .product-template-default{
                    
        
           .site{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        

        .type-product {
            flex-grow: 1;
            display: flex;
            padding-top: 50px;
        }
                    
                    .wp-post-image {
                        width: 50%;
                    }
                    
                    .entry-header {
                        width:50%;
                        height: 400px;
                    }

                }
      